@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Blog Page";
}
@{
    var data = ViewBag.List;

}



<div>
    <h1>This is my blog page</h1>
    <ul>
      @{ foreach (var d in data)
          {
        <li><a href="">@d</a></li>
              }
          }
    </ul>
    
</div>