@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Blog Page";
}



<div>
    <h1>This is my blog page</h1>
    <ul>
        <li>A</li>
        <li>B</li>
        <li>C</li>
    </ul>
</div>